:host {
    #exampleColorInput {
      min-width: 2.5rem;
    }
    .color-box {
      min-width: 2rem;
      min-height: 2rem;
    }
  
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .action-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s;
  }
  
  .action-button:hover {
    background-color: #45a049;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .product-item {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .edit-button {
    background-color: #007BFF;
    color: white;
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .edit-button:hover {
    background-color: #0056b3;
  }
  
  .delete-button {
    background-color: #dc3545;
    color: white;
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .delete-button:hover {
    background-color: #c82333;
  }
  
  .dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .dialog-content {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  /* Improved styles for labels and inputs */
  .dialog-content label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
  }
  
  .dialog-content input,
  .dialog-content textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .dialog-content textarea {
    height: 100px; /* Set the height according to your preference */
    resize: vertical; /* Allow vertical resizing */
  }
  
  .dialog-content button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .dialog-content button:hover {
    background-color: #45a049;
  }
  
  #testDialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 60vh; /* Set a maximum height to make it fit within the screen */
    width: 30vw; /* Set the width as a percentage of the viewport width */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds the dimensions */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Add this rule to style the close button */
  #testDialog .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  