.badge-success {
    background-color: #28a745;
    color: white;
  }
  
  .badge-danger {
    background-color: #dc3545;
    color: white;
  }

  .badge{
    color: rgb(221, 221, 221);
  }
  
  .btn-secondary {
    background-color: #6c757d;
    color: rgb(156, 165, 33);
  }
  
  .btn-secondary:hover {
    background-color: #5a6268;
    color: white;
  }