<!-- =============== Navigation ================ -->
<div class="container">
  <div class="navigation">
    <ul>
      <li>
        <a href="#">

          <span class="title">IAT Stages</span>
        </a>
      </li>

      <li>
        <a href="/admin/dashboard">

          <span class="title">Dashboard</span>
        </a>
      </li>

      <li>
        <a href="/admin/users">

          <span class="title">Users</span>
        </a>
      </li>

      <li>
        <a href="/admin/sujets">

          <span class="title">Sujets</span>
        </a>


        
      </li>

      <li>
        <a href="/admin/candidatures">


          <span class="title">Candidatures</span>
        </a>
      </li>


      <li>
        <a href="/admin/test">

          <span class="title">Tests</span>
        </a>
      </li>

      <li>
        <a href="/admin/calendars">

          <span class="title">Meetings list</span>
        </a>
      </li>

      <li>
        <a href="#">
                    <span class="icon">

                    </span>
          <span class="title">Sign Out</span>
        </a>
      </li>
    </ul>
  </div>

    <!-- ========================= Main ==================== -->
    <div class="main">
        <div class="topbar">
            <div class="toggle">

            </div>

            <div class="search">
                <label>
                    <input type="text" placeholder="Search here">

                </label>
            </div>

            <div class="user">
                <img src="assets/imgs/customer01.jpg" alt="">
            </div>
        </div>

        <!-- ======================= Cards ================== -->
        <div class="cardBox">
            <div class="card">
                <div>
                    <div class="numbers">1,504</div>
                    <div class="cardName">Daily Views</div>
                </div>


            </div>

            <div class="card">
                <div>
                    <div class="numbers">80</div>
                    <div class="cardName">Sales</div>
                </div>


            </div>

            <div class="card">
                <div>
                    <div class="numbers">284</div>
                    <div class="cardName">Comments</div>
                </div>


            </div>

            <div class="card">
                <div>
                    <div class="numbers">$7,842</div>
                    <div class="cardName">Earning</div>
                </div>


            </div>
        </div>




    </div>
</div>
