<div *ngIf="message" class="message-container" [ngClass]="{'success-message': message.includes('réussie'), 'error-message': message.includes('Erreur')}">
    {{ message }}
  </div>

<div cLass="wrapper">
    <form action="" class="form"  [formGroup]="loginForm">
        <h1 class="title">Login</h1>
        <div cLass="inp">
            <input style="color:white" type="text" name="" id="username" class="input" placeholder="username" formControlName="username">
            <i class="Ta-solid Ta-user"></i>
        </div>
        <div cLass="inp">

            <input style="color:white" type="text" name="" id="password" class="input" placeholder="Password" formControlName="password">
            <i class="Ta-solid Ta-user"></i>
        </div>

        <button class="submit" (click)="login()">Login</button>
        <p class="footer">Vous n'avez pas de compte?<a href="/register" class="link">Inscrivez vous</a></p>
    </form>
    <div class="banner">
        <h1 cLass="wel_text">BIENVENUE<br /></h1>
    </div>
</div>
